:root {
    --primary-color: #C1903B;
    --secondary-color: #F8E764;
    --accent-color: #0288D1;
    --accent2-color: #2E7D32;
    --accent3-color: #1B1B1B;
    --heading-font: Cochin, Cambria, Georgia, Times, 'Times New Roman', serif;
    --body-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --section-gap: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr 20px;
    align-items: center;
    background-color: var(--primary-color);
    box-sizing: border-box;
}

header img {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 90px;
    max-width: 70%;
    max-height: 70%;
    border-radius: 4px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.navigation a {
    border: 0.5px solid var(--accent3-color);
    font-family: var(--body-font);
    padding: 5px 30px;
    font-size: 1.1rem;
    background-color: var(--primary-color);
    color: var(--accent3-color);
    text-decoration: none;
}

body {
    font-family: var(--body-font);
    color: var(--accent3-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
    margin-top: var(--section-gap);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--accent-color);
}

nav,
p,
section,
article {
    margin: 0 10px;
    padding: 8px 0px;

}

footer {
    display: grid;
    grid-template-columns: 4fr 1fr;
    align-items: center;
    background-color: var(--primary-color);
}

footer p {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.1rem;
}

.socialmedia {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-decoration: none;
    margin-right: 1rem;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--secondary-color);
    color: var(--accent-color);
}

.hero article {
    position: absolute;
    top: 375px;
    margin: 0px 20px;
    width: 95%;
    padding: 5px;
    background-color: var(--secondary-color);
    opacity: 0.9;
    color: var(--accent3-color);
    font-size: 17px;
}

.hero article img {
    float: right;
    width: 125px;
    margin: 9px;
    border: var(--accent2-color) solid 2px;
}

.history h2 {
    position: relative;
    display: block;
    width: 100%;
    height: 250px;
    text-align: center;
    padding: 10px;
}

.history article {
    display: grid;
    grid-template-columns: 1fr 220px 1fr;
    align-items: center;
    position: absolute;
    gap: 10px;
    top: 835px;
    left: 20%;
    right: 20%;
    padding: 5px;
    color: var(--accent3-color);
    font-size: 17px;
}

.history article img {
    width: 220px;
    max-width: 100%;
    grid-column: 2;
}

.history article p:first-of-type {
    min-width: 0;
    margin: 0;
    grid-column: 1;
    grid-row: 1;
}

.history article p:last-of-type {
    grid-column: 3;
    grid-row: 1;
}

section {
    margin: 10px auto;
    display: grid;
}

section h2 {
    width: 100%;
    text-align: center;
    background-color: var(--secondary-color);
    padding: 5px;
}

.adventures {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    border: 1px solid var(--secondary-color);
    background-color: var(--secondary-color);
    box-sizing: border-box;
}

.adventures h2 {
    padding: 14px 0;
    grid-column: 1/-1;
    margin: 0;
}

.adventures img {
    display: block;
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.adventures figure {
    margin: 1.25rem;
}

.adventures figcaption {
    margin-top: 5px;
    text-align: center;
}