:root {
    --primary-color: #062E03
}

header,
.grid,
footer {
    max-width: 840px;
    margin: 0 auto;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
}

h1 {
    color: var(--primary-color);
    border-bottom: 0.2rem solid #062E03;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    margin: 1rem;
    box-shadow: 0 0 30px gray;
}

* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;

}

.grid {
    display: grid;
    align-items: center;
}

main {
    grid-column: 2/3;
    margin: 1rem;
}

aside {
    position: relative;
    background-color: #eee;
    color: #333;
    text-align: center;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2 {
    position: absolute;
    top: 25px;
    left: 100px
}

p {
    padding: 0;
}

aside img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

footer {
    margin-top: 2rem;
    border-top: 1px solid #062E03;
    text-align: center;
}

/* Class Selector */
.box {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: gainsboro;
    color: black;
    clear: both;
}