:root {
    --primary-color: #062E03
}

nav {
    background-color: var(--primary-color);
    padding: 10px;

}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-color);
}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main {
    max-width: 840px;
}

* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;

}

aside {
    position: relative;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside h2 {
    position: absolute;
    top: 25px;
    left: 100px
}

p {
    padding: 0;
}

aside img {
    width: 200px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

footer {
    margin-top: 2rem;
    border-top: 1px solid #062E03;
    text-align: center;
}

/* Class Selector */
.box {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: gainsboro;
    color: black;
    clear: both;
}